<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
    <head>
        <title>Récupération de mot de passe</title>
    </head>
    <body>
        <div class="container">
            <div id="notification" th:replace="~{main :: notification}"></div>
            <div layout:fragment="content">
                <form action="#" th:action="@{/forgot-password}" method="post">
                    <div>
                        <label>Email:</label>
                        <input type="email" name="email" required>
                        <button type="submit" class="btn btn-primary mt-4">
			Réinitialiser le mot de passe
		   </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
